<!-- Hero -->
<!-- Header -->
<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">Hi, I'm Abhishek.</div>
            <div class="intro-heading">Welcome To My Mind Palace</div>
            <div class="col-lg-12 text-center">
                <h3 class="section-subheading text-muted">Simulating and understanding the human mind holds my current interest. 
                    My ambition is to pioneer developments in Deep Learning and Artificial Intelligence 
                    that will revolutionize the lives of the common man.
                </h3>
            </div>
            <a href="#services" class="page-scroll btn btn-xl">Swish</a>
        </div>
    </div>
</header>
